@import "tailwindcss";


@media (prefers-color-scheme: dark) {
}


.mockup {
  background-image: url("/mockup.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 50%;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}